In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('/content/data-find-s.csv')
data

   shy air temp humidity    wind   water forecast enjoy sport
0    0    sunny     warm  normal  strong     warm        same
1    1    sunny     warm    high  strong     warm        same
2    2    rainy     cold    high  strong     warm      change
3    3    sunny     warm    high  strong     cool        same

In [ ]:
##converting the csv data to numpy array, and here we just want all the columns other than last one 
df=np.array(data)[:,:-1]

In [ ]:
df

array([[0, 'sunny', 'warm', 'normal', 'strong', 'warm'],
       [1, 'sunny', 'warm', 'high', 'strong', 'warm'],
       [2, 'rainy', 'cold', 'high', 'strong', 'warm'],
       [3, 'sunny', 'warm', 'high', 'strong', 'cool']], dtype=object)

In [ ]:
## now here we just want the target values that is enjoy sports,
target=np.array(data)[:,-1]

In [ ]:
target

array(['same', 'same', 'change', 'same'], dtype=object)

In [ ]:
def train(df,target):
    for i,value in enumerate(target):
        if value=='yes':
            specific_hypo=df[i].copy()
            break
    for i,value in enumerate(df):
        if target[i]=='yes':
            for x in range(len(specific_hypo)):
                if value[x]!=specific_hypo[x]:
                    specific_hypo[x]='?'
                else:
                    pass
    return specific_hypo

In [ ]:
print(train(df,target))

UnboundLocalError: ignored